.nav_left {
	          background-color: #f19159;
	          border-top-left-radius: 48px;
	          border-bottom-left-radius: 48px;
		}
		
		.nav-tabs .nav-link.active {
		background-color: transparent;
		border-color: transparent;
		border-top: 4px solid #fff;
		color: #fff;
		}
		
		.nav-tabs .nav-link {
		border: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		margin: 0 30px 0 40px;
		}
		
		.nav-tabs {
		border-bottom: none;
		}
		
		.nav-link {
		padding: 1rem 0.5rem;
		color: #fff;
		}
		
		.nav-link:focus,
		.nav-link:hover {
		color: #fff;
		}
		
		.search_input {
		width:100%;
		border-radius: 10px;
		border: none;
		line-height: initial;
		padding-top: 4px;
		padding-bottom: 4px;
		color: #f19159;
		}
		
		.search_input:focus-visible {
		outline: none;
		}
		
		input.search_input::placeholder {
		color: #cfd2ec;
		vertical-align: middle;
		}
		
		.search_img {
		top: 7px;
		right: 8px;
		}
		
		.navbar-toggler {
		border: 3px solid #f19159;
		}
		
		.navbar-toggler-icon {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(35, 76, 203, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
		}
		
		.navbar-toggler:focus {
		box-shadow: none;
		}